{% extends 'dashboard.html' %}
{% block dashboard_content %}
<div class="container-fluid" id="dashboard-container">
    <div class="row">
        <div class="col-sm-8">
            <h3>Pitches</h3>
            <div class="row">
                <div class="col" id="pitch-content-section"></div>
            </div>
        </div>
        <div class="col-sm-4 side-bar-category">
            <div class="side-categories">
                <h3><b>Categories</b></h3>
                <ul class="list-group" id="categories-list">

                </ul>
            </div>
        </div>
    </div>
</div>

  {% endblock %}