{% extends 'base.html' %}
{% block content %}
<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <div class="container-fluid">
        <a class="navbar-brand logo" href="#">Pitches</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav"
            aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav">
                <li class="nav-item">
                    <a class="nav-link active" aria-current="page" href="#">Home</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">Categories</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">Pitches</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{{ url_for('index')}}">Login</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{{ url_for('register')}}">Register</a>
                </li>
            </ul>
        </div>
    </div>
</nav>
<div class="container-fluid">
    <div class="row">
        <div class="col-sm-8">

        </div>
        <div class="col-sm-4 side-bar-category">
            <div class="side-categories">
                <h3><b>Categories</b></h3>
                <button class="btn btn-link" data-bs-toggle="modal" data-bs-target="#categoriesModal">Add category</button>
            </div>
        </div>
    </div>
</div>
<div class="modal" tabindex="-1" id="categoriesModal">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title">Pitch category</h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
            <form>
                <div class="mb-3">
                    <label for="category" class="form-label">Category name</label>
                    <input type="text" class="form-control" id="category" placeholder="Category title">
                  </div>
                <div>
            </form>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
          <button type="button" class="btn btn-primary" id="submitCategory">Save category</button>
        </div>
      </div>
    </div>
  </div>
{% endblock %}