{% extends 'base.html' %}
{% block content %}
<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <div class="container-fluid">
        <a class="navbar-brand logo" href="{{ url_for('dashboard')}}">Pitches</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav"
            aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav">
                <li class="nav-item">
                    <a class="nav-link active" aria-current="page" href="{{ url_for('dashboard')}}">Home</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{{ url_for('categories')}}">Categories</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{{ url_for('pitches')}}" id="">My Pitches</a>
                </li>
                <!-- <li class="nav-item">
                    <a class="nav-link" href="{{ url_for('index')}}">Login</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{{ url_for('register')}}">Register</a>
                </li> -->
                <li class="nav-item">
                    <a class="nav-link" href="{{ url_for('logout')}}">Logout</a>
                </li>
            </ul>
            <!-- <ul class="d-flex">
                <li class="nav-item">
                    <a class="nav-link" href="{{ url_for('register')}}">Register</a>
                </li>
            </ul> -->
        </div>
    </div>
</nav>

<div class="container-fluid">
    <div class="row">
        <div class="col">
            {% block dashboard_content %}
            {% endblock %}
        </div>
    </div>
</div>

{% endblock %}