{% extends 'dashboard.html' %}
{% block dashboard_content %}
<div class="container">
    <div class="row">
        <div class="col">
            <div class="category-title">
                <h3>My Pitches</h3>
                {% if current_user.is_authenticated %}
                <button class="btn btn-link" data-bs-toggle="modal" data-bs-target="#pitchModal">Add pitch</button>
                {% endif %}
            </div>
            <div id="client-pitch-section">
            </div>
        </div>
    </div>
</div>
<div class="modal" tabindex="-1" id="pitchModal">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">My Pitch</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <form>
                    <div class="mb-3">
                        <select class="form-select form-control" aria-label="Select category" id="category-combobox">
                            <option selected>Selecct category</option>
                        </select>
                    </div>
                    <div class="mb-3">
                        <label for="category" class="form-label">Pitch title</label>
                        <input type="text" class="form-control" id="title" placeholder="Category title">
                    </div>
                    <div class="mb-3">
                        <label for="pitch" class="form-label">Pitch description</label>
                        <textarea class="form-control" id="pitch-description" rows="5"></textarea>
                      </div>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                <button type="button" class="btn btn-primary" id="submit-pitch-btn">Save pitch</button>
            </div>
        </div>
    </div>
</div>
{% endblock %}