.login-page-background{
    width:100%;
    height:100vh;
    background-image:url('../img/nature.jpg');
    background-repeat:no-repeat;
    background-size:cover;
    padding:0;
    margin:0;
}
.dark-background{
    width:100%;
    height:100vh;
    background-color:#000;
    opacity:0.8;
    display:flex;
    justify-content:center;
    align-items: center;
}
.login-section{
    background-color:#FFFFFF;
    display:flex;
    justify-content:center;
    align-items:center;
    padding:1em;
}
.login-content{
    display:flex;
    flex-direction:column;
    justify-content:center;
    align-items:center;
}
.logo{
    font-family: 'Lobster', cursive;
    font-weight:bolder;
}
.signup-txt{
    display:flex;
    justify-content:center;
    align-items:center;
}
.side-categories{
    display:flex;
    flex-direction:row;
    justify-content:space-between;
}
.side-bar-category{
    margin-top:1em;
    min-height:80vh;
    background-color:#d3d3d3;
}
@media only screen and (max-width:600px){
    .login-section{
        min-width:100%;
        min-height:100vh;
    }
}
@media only screen and (min-width:600px){
    .login-section{
        min-width:350px;
    }
}